VITE_SUPABASE_URL=https://cmpehywodyqadurfiqwo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtcGVoeXdvZHlxYWR1cmZpcXdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ1OTE3MDksImV4cCI6MjA3MDE2NzcwOX0.DqX9DLDd8jtqGAJRvPT2Qxl8seDmQxA-A3nitSYO6ec